.button {
  border-radius: 0.5rem;
  height: 5rem;
  font-size: 2.4rem;
  font-weight: 600;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 1rem 2rem;
  font-family: var(--font-primary);
}

.primary {
  background-color: var(--color-primary);
  color: #fff;
}

.secondary {
  color: var(--color-secondary);
}

.border {
  border: 1px solid var(--color-secondary);
}
