.button {
  border-radius: 0.5rem;
  height: 5rem;
  font-size: 2.4rem;
  font-weight: 600;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 1rem 2rem;
  font-family: var(--font-primary);
  text-transform: capitalize;
}

.primary {
  background-color: var(--color-primary);
  color: #fff;
}

.secondary {
  color: var(--color-secondary);
}

.border {
  border: 1px solid var(--color-secondary);
}

@media (max-width: 980px) {
  .button {
    font-size: 1.8rem;
    height: 4rem;
    padding: 0.8rem 1.6rem;
  }
}
