.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.4rem;
}

@media (max-width: 980px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}

@media (max-width: 680px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
