.hero {
  background-color: var(--background-secondary);
  padding-top: 3.2rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 1.24;
  max-width: 45rem;
}

.description {
  margin: 3.2rem 0;
  max-width: 40rem;
}

.image {
  width: 64rem;
}

@media (max-width: 1140px) {
  .title {
    font-size: 5rem;
  }
  .image {
    width: 50rem;
  }
}

@media (max-width: 890px) {
  .title {
    font-size: 4rem;
  }
  .image {
    width: 40rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 2rem;
  }
  .title {
    font-size: 3.6rem;
    max-width: 28rem;
  }
  .description {
    margin: 2rem 0;
  }

  .image {
    max-width: 100%;
  }
}
