.wrapper {
  text-align: center;
  margin-top: 16rem;
  margin-bottom: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}
.description {
  color: var(--color-description);
  max-width: 47rem;
  line-height: 1.2;
}

@media (max-width: 980px) {
  .wrapper {
    margin-top: 12rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-top: 10rem;
  }
}

@media (max-width: 680px) {
  .wrapper {
    margin-top: 8rem;
  }
}
