.column {
  display: flex;
  flex-direction: column;
  gap: 5.4rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: capitalize;
}

@media (max-width: 980px) {
  .column {
    gap: 4rem;
  }
}
@media (max-width: 768px) {
  .column {
    gap: 3rem;
  }
}
@media (max-width: 640px) {
  .column {
    gap: 2rem;
  }
  .title {
    font-size: 2rem;
  }
}
