@import url("./reset.css");

@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@400;500;600;700;800&display=swap");

:root {
  --font-primary: "Anek Telugu", sans-serif;
  --color-primary: #2dcf57;
  --color-secondary: #242424;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  background-color: #fff;
  font-size: 1.6rem;
  color: var(--color-secondary);
}
