.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 24rem;
  height: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}

.overlayOpen {
  animation: fadeIn 0.3s ease-in-out forwards;
  pointer-events: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.icon {
  width: 2.8rem;
  height: 2.8rem;
}

.open {
  transform: translateX(0);
  pointer-events: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
