.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:global(.swal2-popup) {
  font-size: 1.6rem !important;
}

.dateWrapper {
  width: 100%;
  position: relative;
}

.dateWrapper :global(.react-datepicker-wrapper) {
  display: block;
  width: 100%;
}

:global(.react-datepicker) {
  font-size: 1.4rem !important;
  padding: 1rem;
  font-family: var(--font-primary);
}

:global(.react-datepicker__day),
:global(.react-datepicker__day-name) {
  width: 3.5rem !important;
  line-height: 3.5rem !important;
}

:global(.react-datepicker__current-month) {
  font-size: 1.6rem !important;
  margin: 0.5rem 0 !important;
}

:global(.react-datepicker__navigation) {
  top: 1.5rem !important;
}

:global(.react-datepicker__day--selected) {
  background-color: var(--color-primary) !important;
  color: #fff !important;
}

@media (max-width: 980px) {
  .form {
    max-width: 40rem;
    gap: 4rem;
  }
}

@media (max-width: 680px) {
  .form {
    gap: 2rem;
  }

  :global(.react-datepicker) {
    font-size: 1.2rem !important;
    padding: 0.2rem;
  }

  :global(.react-datepicker__day),
  :global(.react-datepicker__day-name) {
    width: 3rem !important;
    line-height: 3rem !important;
  }
}

@media (max-width: 420px) {
  :global(.react-datepicker) {
    font-size: 1.2rem !important;
  }

  :global(.react-datepicker__day),
  :global(.react-datepicker__day-name) {
    width: 2.5rem !important;
    line-height: 2.5rem !important;
  }
}
