.menu {
  display: flex;
  gap: 4.2rem;

  .link {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-secondary);
    transition: color 150ms ease;
    text-transform: capitalize;

    &:hover {
      color: var(--color-primary);
    }
  }
}
