.wrapper {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 7rem;
}

@media (max-width: 640px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 5rem;
  }
}
