.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 9rem;
  border-radius: 3rem;
  background-color: #000;
  color: #fff;
  padding: 9.6rem;
}

@media (max-width: 980px) {
  .wrapper {
    flex-direction: column;
    gap: 4rem;
    padding: 6rem;
  }
}

@media (max-width: 680px) {
  .wrapper {
    padding: 4rem;
  }
}
