.links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links a {
  font-size: 2rem;
  color: var(--color-secondary);
  transition: all 150ms ease-in;
  text-transform: capitalize;

  text-decoration-color: var(--color-description);
  text-decoration-thickness: 0.1rem;

  &:hover {
    color: var(--color-primary);
    text-decoration-color: var(--color-primary);
  }
}

@media (max-width: 980px) {
  .links a {
    font-size: 1.8rem;

    &:hover {
      color: var(--color-secondary);
      text-decoration-color: var(--color-description);
    }
  }
}
