.wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 2.4rem;
}

.icon {
  display: flex;
  width: 2.2rem;
  height: 2.2rem;
  color: var(--color-secondary);
  transition: color 150ms ease-in;

  &:hover {
    color: var(--hover-color);
  }
}

@media (max-width: 980px) {
  .icon:hover {
    color: var(--color-secondary);
  }
}
