.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.4rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.avatar {
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 100%;
}

.author {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}

.date {
  color: var(--color-description);
  text-transform: capitalize;
}

@media (max-width: 680px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
