.wrapper {
  margin-top: 16rem;
  height: 43.8rem;
  background-color: var(--color-primary);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.title {
  font-weight: 600;
}

.description {
  font-weight: 600;
  font-size: 4.8rem;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
  max-width: 60rem;
  text-align: center;
}
@media (max-width: 980px) {
  .wrapper {
    margin-top: 12rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-top: 10rem;
  }
}

@media (max-width: 680px) {
  .wrapper {
    margin-top: 8rem;
    height: 32rem;
  }

  .description {
    font-size: 3.6rem;
    margin-bottom: 1.2rem;
    max-width: 48rem;
  }
}
