.input {
  height: 5.8rem;
  padding: 0rem 2.4rem;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  display: block;
  width: 100%;

  &::placeholder {
    color: var(--color-description);
    font-size: 1.6rem;
  }
}

@media (max-width: 680px) {
  .input {
    height: 5rem;
  }
}
